@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap");

@font-face {
	font-family: "clash-display";
	src: url("../../public/fonts/ClashDisplay-Variable.ttf") format("truetype");
	font-weight: 800;
	font-display: swap;
}
@font-face {
	font-family: "unica-one";
	src: url("../../public/fonts/UnicaOne-Regular.ttf") format("truetype");
	font-weight: 800;
	font-display: swap;
}
:root {
	font-family: "Montserrat", "clash-display", sans-serif;
}

body {
	background-color: rgba(21, 14, 40, 1);
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #4e079e;
	border: 2px solid #111;
	border-radius: 100vmax;
}

::-webkit-scrollbar-thumb:hover {
	background: #6d09df;
	cursor: pointer;
}

@layer utilities {
	.font {
		font-family: "clash-display", sans-serif;
	}
	.time {
		font-family: "unica-one", sans-serif;
	}
	.bg-custom-color {
		background-color: rgba(21, 14, 40, 1);
	}
	.primary-color {
		background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
	}
	.text-color-1 {
		color: rgba(144, 58, 255, 1);
	}
	.text-color-2 {
		color: rgba(212, 52, 254, 1);
	}
	.bg-custom-color2 {
		background-color: rgb(16, 9, 34);
	}
	.blur {
		filter: blur(8px); /* Adjust the blur intensity as needed */
	}
	/* Custom gradient border class */
	.gradient-border {
		border-image: linear-gradient(to bottom, #ff26b9, #903aff);
		border-image-slice: 1;
	}
}
